$font_family: "Roboto", sans-serif;
$main_color: #ffffff;
$back_color: #f3f3f4;
$back2_color: #f8fafb;
$green: #1ab394;
$dark_green: #18a689;
$red: #ed5565;
$text: #676a6c;
$light_side: #2f4050;
$dark_side: #293846;
